@import '_variables.scss';

section.addCheckIt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: #f0e9e999;
    
    form#addToDo {
        display: flex;
        align-items: center;
        width: 80%;
        
        .input-group {
            display: block;
        }
        
        textarea{
        justify-content: center;
        width: 150%;
        }
        .addCheckItFooter {
            display: flex;
            justify-content: center;
            padding: 10px 0 0;
            width: 100%;
        }
        .checkIt {
            border-radius: 4px;
            width: 100px;
        }
    }
}
