@import '_variables.scss';

section.addCheckIt {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 10px;
    border: 2px solid black;
    border-radius: 21px;
    background-color: #f0e9e999;
    
    form#addToDo {
        display: flex;
        align-items: center;
        width: 100%;
        
        button{
            $primaryColor;
        }
        textarea{
        justify-content: center;
        width: 150%;
        }
        .addCheckItFooter {
            padding: 10px 0;
            width: 100%;
        }
        .checkIt {
            border-radius: 4px;
            width: 100px;
        }
    }
}
