@import '_variables.scss';

section.addCheckIt {
    display: flex;
    align-items: center;
    width: 550px;
    margin: 1em;
    flex-direction: column;
    padding: 10px;
    border: 2px solid black;
    border-radius: 21px;
    background-color: #f0e9e999;
    
    form#addToDo {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        textarea{
        
        justify-content: center;
        width: 100%;
        }
        .addCheckItFooter {
            padding: 10px 0;
            width: 100%;
        }
    }
}

.checkIt {
    border-radius: 4px;
    width: 100px;
}