.jumbotron-fluid {
  background-color: #e90a0a;
  display: flex;
  align-content: space-between;
  padding: 0 1em;
  margin-bottom: 0;
}

.jumbotron-fluid .container {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.user {
  display: flex;
  justify-content: center;
  align-content: center;
}
