@import '_variables.scss';

.logo {
    display: flex;
    height: 10%;
    padding: 6px 0;
    margin: 1px 0;
}
.jumbotron-fluid {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row;   
    align-content: center;
    padding: 0 1em;
    margin-bottom: 0;

    .container{
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    .user{
        display: flex;
        justify-content: center;
        align-content: center;
    }
}
