@import '_variables.scss';

.jumbotron-fluid {
    background-color: $primaryColor;
    display: flex;
    flex-direction: row; 
    align-content: center;
    padding: 0 3em;
    margin-bottom: 0;
    position: relative;
    
    .logo {
        display: flex;
        align-self: center;
        padding: 6px 0 19px;
      
    
    }
    .container{
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    .user{
        justify-content: center;
        align-content: center;
        align-self: center;
        
    
    }
}
