@import '_variables.scss';

html {
    box-sizing: border-box;
    height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: 'raleway', 'sans-serif';
    background-image: url("../images/BulletinBoard.png");
    background-size: cover;
    
    
    main#page {
        display: flex;
        justify-content: center;
    }
    
}

