@import '_variables.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: white;
    font-family: 'raleway', 'sans-serif';
}

main#page{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

footer{
    display: flex;
    justify-content: flex-end;
    color: $supportColor3;
    padding: 1em;
}
