@import '_variables.scss';

.nav-link{
    color: black;
    border: .5px solid black;
}
.nav.nav-tabs{
    background-color: aliceblue;
}

.tab-content>.active  {
    display: flex;
    flex-wrap: wrap;
    height: 15em;
    width: 50vw;
    margin: 0 0 3em 0;
    background-color: #fffbb399;
}

.nav-item.watch, .tab-content #watch {
    background-color: $supportColor1;
}
.nav-item.resto, .tab-content #eat {
    background-color: $supportColor2;
}
.nav-item.book, .tab-content #read {
    background-color: $supportColor4;
}
.nav-item.product, .tab-content #buy {
    background-color: $primaryColor;
}
.nav-item.misc, .tab-content #misc {
    background-color: $supportColor3;
}