@import '_variables.scss';

.nav-link{
    color: black;
    border: .5px solid black;
}
.nav.nav-tabs{
    background-color: aliceblue;
}

.tab-content>.active  {
    height: 15em;
    margin: 0;
}

// .nav-item #watch{
//     background-color: $supportColor1;
// }
.nav-item.watch, .tab-content #watch {
    background-color: $supportColor1;
}
.nav-item.resto, .tab-content #eat {
    background-color: $supportColor2;
}
.nav-item.book, .tab-content #read {
    background-color: $supportColor4;
}
.nav-item.product, .tab-content #buy {
    background-color: $primaryColor;
}
.nav-item.misc, .tab-content #misc {
    background-color: $supportColor3;
}